/* Typography */

html {
	font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

.icons-social i {
	font-size: 3em;
}

/* Custom Styles */

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
}

main > .intro {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 3.75em;
	font-weight: 600;
}

main > .tagline {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 100;
}

.icons-social i {
	padding: 10px;
}

.devto {
	margin-bottom: -0.20rem;
}

.devto svg {
	margin-bottom: -0.20rem;
	margin-left: 0.675rem;;
	width: 2.65rem;
	height: 2.65rem;
}

.instagee,
.medium,
.stackoverflow,
.linkedin,
.playstation,
.apple,
.twitter,
.github,
.facebook {
	font-size: 2em !important;
	background-color: #18191f;
	color: #fff;
	box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080,
	2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080,
	inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
	inset 2px 2px 10px #00000080;
	border-radius: 29px;
	padding: 11px 19px;
	margin: 0 20px;
	animation: animate 3s linear infinite;
	text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff,
	0 0 200px #0072ff;
}

.instagee {
	animation: animate 3s linear infinite;
}
.medium {
	animation: animate 3s linear infinite;
}
.stackoverflow {
	animation: animate 3s linear infinite;
}
.linkedin {
	animation: animate 3s linear infinite;
}
.playstation {
	animation: animate 3s linear infinite;
}
.apple {
	animation: animate 3s linear infinite;
}
.twitter{
	animation: animate 3s linear 0.3s infinite;
}
.facebook{
	animation: animate 3s linear 0.7s infinite;
}
.github{
	animation: animate 3s linear infinite;
}

@keyframes animate {
	from {
		filter: hue-rotate(0deg);
	}
	to {
		filter: hue-rotate(360deg);
	}
}

.container{
	margin-top: 5px;
	background-color: rgb(31, 30, 30);
	color: black;
	border-radius: 15px;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.containerHeader{
	padding-top: 5px;
}
.item{
	height: 100px;
	width: 100px;
	border-radius: 10px;
	box-shadow: 2px 2px 2px #00000080;
	margin: 5px;
	overflow: hidden;
}
.itemImage{
	width: 100%;
	height: 100%;
	object-fit: fill;
}
.containerMail{
	margin-top: 5px;
	background-color: white;
	color: black;
	border-radius: 15px;
	padding: 10px;
	display: flex;
	flex-direction: column;
}
.sendMail{
	margin-top: 5px;
	padding: 5px 10px;
	border-radius: 5px;
	font-weight: bold;
	border: none;
	background-color: #18191f;
	color: white;
}