/* Theme */

main {
	/*background: #303F9F;*/
	/*background: #212121;*/
	background: #151515;
	/*background: #383838;*/
	/*background: #191d24;*/
	/*background: #000000;*/
	/*background: #2F2F31;*/
	color: #FAFAFA;
}

.icons-social a {
	color: #FAFAFA;
}

.icons-social a svg path{
	fill: #FAFAFA;
}
